.div{
    margin-top: 3px;
    text-align: center;
}
#input2{
    margin-left: 13px;
}
#save{
    margin-top: 15px;
    margin-left: 40px;
}
.Gender{
    margin-right: 40px;    

}
.Course{
    margin-right: 92px;
}
 table,tr,th,td{
    margin-top: 10px;
    border: 1px solid black;
    border-collapse: collapse;

}